coverage
node_modules
*.log
*.userprefs
*.tgz
*.rpm
.vscode
.vagrant
.idea
dist
obj
bin
tmp
packages
out
.paket/paket.exe
paket-files
NuGetScratch
hosts
.history
results.xml
travis_env
include/copr-mfl
