[Unit]
Description=IML Device Scanner Socket
DefaultDependencies=false

[Socket]
ListenStream=/var/run/device-scanner.sock

[Install]
WantedBy=sockets.target
